<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Supercard Details</title>
		<meta name="description" content="See all the comics, the stories and events that revolve around your favorite superheroes."/>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
		<link rel="stylesheet" href="css/main.css" type="text/css"></link>
	</head>
	<body>
		<div class="container">
			<%- include('navbar.ejs') %>
			<div class="divider-quarter"></div>
			<div class="row align-items-center justify-content-center">
				<!-- Supercard -->
				<%- include('supercard.ejs') %>
				<div class="col-12 col-sm-10 col-md-7 col-xl-5">
					<div id="card_description" class="card related-content d-none">
						<div class="card-body">
							<h5>Description</h5>
							<p class="card-text"></p>
						</div>
					</div>
				</div>
			</div>
			<div class="divider-half"></div>
			<div class="accordion rounded" id="accordionRelatedContent">
				<!-- Comics -->
				<div id="comics-container" class="accordion-item d-none">
				  <h2 class="accordion-header g-4 rounded">
					<button class="accordion-button rounded" type="button" data-bs-toggle="collapse" data-bs-target="#relatedContent-comics" aria-expanded="true" aria-controls="relatedContent-comics">
						Comics
					</button>
				  </h2>
				  <div id="relatedContent-comics" class="accordion-collapse collapse show">
					<div class="accordion-body">
						<div id="comics-container" class="row">
							<div id="comics" class="col-md-4 col-sm-6 d-none">
								<div class="card related-content">
									<h4 class="card-title text-center"></h4>
									<div class="card-body">
										<img class="card-img"
										onerror="this.error=null; this.src='http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg'">
										<h5>Description</h5>
										<p class="card-text"></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				  </div>
				</div>
				<!-- Series -->
				<div id="series-container" class="accordion-item d-none">
					<h2 class="accordion-header g-4 rounded">
						<button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#relatedContent-series" aria-expanded="false" aria-controls="relatedContent-series">
							Series
						</button>
					</h2>
					<div id="relatedContent-series" class="accordion-collapse collapse">
						<div class="accordion-body">
							<div id="series-container" class="row">
								<div id="series" class="col-md-4 col-sm-6 d-none">
									<div class="card related-content">
										<h4 class="card-title text-center"></h4>
										<div class="card-body">
											<img class="card-img"
											onerror="this.error=null; this.src='http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg'">
											<h5>Description</h5>
											<p class="card-text"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Events -->
				<div id="events-container" class="accordion-item d-none">
					<h2 class="accordion-header g-4 rounded">
						<button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#relatedContent-events" aria-expanded="false" aria-controls="relatedContent-events">
							Events
						</button>
					</h2>
					<div id="relatedContent-events" class="accordion-collapse collapse">
						<div class="accordion-body">
							<div id="events-container" class="row">
								<div id="events" class="col-md-4 col-sm-6 d-none">
									<div class="card related-content">
										<h4 class="card-title text-center"></h4>
										<div class="card-body">
											<img class="card-img"
											onerror="this.error=null; this.src='http://i.annihil.us/u/prod/marvel/i/mg/b/40/image_not_available.jpg'">
											<h5>Description</h5>
											<p class="card-text"></p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<%- include('footer.ejs') %>
		</div>
	</body>

	<script src="shared/lib.js"></script>
	<script src="js/navbar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="js/supercard.js"></script>
</html>
