<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile</title>
	<meta name="description" content="Update or delete your profile."/>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<link rel="stylesheet" href="css/main.css" type="text/css">
	</link>
</head>

<body>
	<div class="container">
		<%- include('navbar.ejs') %>
			<div id="statusAlert" class="alert alert-danger d-none" role="alert"></div>

			<div class="row g-0 justify-content-center">
				<!-- my-2 fixes the distance from the divider of the navbar -->
				<h3 class="col-12 my-2 g-4 rounded">General</h3>
				<div class="col-12 col-sm-12 col-lg-8 col-xl-6">
					<div class="card h-100">
						<div class="card-body content-box rounded">
							<p class="card-text">
							<div class="row h-100">
								<div class="col-4 m-0">
									<img src="user.png" alt="mdo" class="border rounded bg-white"
										style="max-width:100%; max-height:100%;">
								</div>
								<div class="col-12 col-8">
									<h5>My profile</h5>
									<!-- Change nickname -->
									<form action="#" method="POST" id="formNick" class="mb-3 input-group">
										<label for="inputNick" class="input-group-text">Nick</label>
										<input name="newnick" type="text" class="form-control" id="inputNick" required>
										<button type="submit" class="btn btn-primary"
											onclick="changeNick(); return false;">Fix</button>
									</form>
									<!-- Change email -->
									<form action="#" method="POST" id="formEmail" class="mb-3 input-group">
										<label for="inputNewEmail" class="input-group-text">Email</label>
										<input name="newemail" type="email" class="form-control" id="inputNewEmail"
											autocomplete="" aria-describedby="emailHelp" required>
										<button type="submit" class="btn btn-primary"
											onclick="changeEmail(); return false;">Fix</button>
									</form>
								</div>
								<div class="col-12">
									<h5>Favorite superhero</h5>
									<form action="#" method="POST" class="mb-3 input-group">
										<select name="favHero" id="inputFavHero" class="form-select"
											aria-label="Select your favorite superhero">
											<option selected>No answer</option>
										</select>
										<button type="submit" class="btn btn-primary"
											onclick="changeFavHero(); return false;">Fix</button>
									</form>

									<!-- Change password -->
									<h5>Change password</h5>
									<form action="#" method="POST" id="formOldPwd" class="mb-3 input-group">
										<label for="inputOldPassword" class="input-group-text">Old</label>
										<input name="oldpassword" type="password" class="form-control"
											id="inputOldPassword" value="..." autocomplete="current-password" required>
									</form>
									<form action="#" method="POST" id="formNewPwd" class="mb-3 input-group">
										<label for="inputNewPassword" class="input-group-text">New</label>
										<input name="newpassword" type="password" class="form-control"
											id="inputNewPassword" value="..." autocomplete="new-password" required>
										<button type="submit" class="btn btn-primary"
											onclick="changePwd(); return false;">Fix</button>
									</form>
								</div>
							</div>

							</p>
						</div>
					</div>
				</div>
				<!-- Danger Zone -->
				<div class="divider-half col-12"></div>
				<h3 class="col-12 g-4 rounded">Danger zone</h3>
				<div class="row justify-content-center">
					<div class="col-sm-12 col-md-8 col-lg-7 col-xl-6 col-xxl-5">
						<div class="card h-100 bg-danger text-light">
							<div class="card-body">
								<p class="card-text">
								<h5>Delete your account</h5>
								<form action="#" method="DELETE" id="formDelete">
									<div class="row mb-3">
										<div class="col-auto">
											<label for="inputPasswordDelete" class="form-label"><em>This action is
													irreversible!</em> To delete your account please insert your
												password as a security measure.</label>
										</div>
										<div class="col-auto">
											<input name="password" type="password" value="..." class="form-control"
												id="inputPasswordDelete">
										</div>
										<div class="col-auto">
											<button type="submit" class="btn btn-primary"
												onclick="deleteAccount(); return false;" required>Delete</button>
										</div>
									</div>
								</form>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

		<%- include('footer.ejs') %>
	</div>

	<script src="shared/lib.js"></script>
	<script src="js/navbar.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
		crossorigin="anonymous"></script>
	<script src="js/profile.js"></script>
</body>

</html>
