<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Register</title>
    <meta name="description" content="Register to get your superheroes' digital album."/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css" type="text/css"></link>
</head>

<body>
    <!-- navbar -->
    <div class="container">
        <%- include('navbar.ejs') %>
        <div class="card related-content">
            <div class="card-body">
                <h5>Welcome!</h5>
                <p class="card-text">Register now to claim your free digital superheroes album!</p>
            </div>
        </div>
        <!-- to maintain the fields size: <div class="col-sm-12 col-lg-11 col-xl-9 col-xxl-8"> -->
            <div class="rounded" style="background-color: white;">
                <img src="img/afse_logo.png" class="img-fluid mx-auto d-block g4 py-3" alt="..." style="width: 50%;">
            </div>
        <div class="divider-half"></div>
        <div class="alert alert-warning"><strong>Remember to use a password manager!</strong></div>
        <form id="registerForm" method="POST" onsubmit="register(); return false;">
            <div class="mb-3 input-group">
                <label for="inputNick" class="input-group-text">Nickname</label>
                <input name="nick" type="text" class="form-control" id="inputNick" autocomplete="nickname" required>
            </div>
            <div class="mb-3 input-group">
                <label for="inputEmail" class="input-group-text">E-mail</label>
                <input name="email" type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" autocomplete="email" required>
            </div>
            <div class="mb-3 input-group">
                <label for="inputEmailConfirm" class="input-group-text">Repeat e-mail</label>
                <input name="emailConfirm" type="email" class="form-control" id="inputEmailConfirm" autocomplete="email" aria-describedby="emailHelp" required>
            </div>
            <div class="mb-3 input-group">
                <label for="inputPassword" class="input-group-text">Password</label>
                <input name="password" type="password" class="form-control" id="inputPassword" autocomplete="new-password" required>
            </div>
            <div class="mb-3 input-group">
                <label for="inputPasswordConfirm" class="input-group-text">Repeat password</label>
                <input name="passwordConfirm" type="password" class="form-control" id="inputPasswordConfirm" autocomplete="new-password" required>
            </div>
            <div class="mb-3 input-group">
                <label for="inputFavHero" class="input-group-text">Favorite superhero</label>
                <select name="favHero" id="inputFavHero" class="form-select" aria-label="Select your favorite superhero">
                    <option selected>No answer</option>
                </select>
            </div>
            <button id="registerSubmit" type="submit" class="btn btn-primary">Submit</button>
        </form>
        
		<%- include('footer.ejs') %>
    </div>
    
    <script src="shared/lib.js"></script>
    <script src="js/navbar.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
    <script src="js/register.js"></script>
</body>

</html>
