<div id="supercard" class="card supercard col-6 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-2 gx-0 d-none">
    <h6 id="card_title" class="card-title text-center supercard-title"></h6>
    <img id="card_image" src="" class="card-img-top card-img supercard-img" alt="...">
    <!-- <div class="card-body">
        <p id="card_overview" class="card-text"></p>
    </div> -->
    <div class="card-footer row justify-content-between" style="border: transparent;">
        <a href="carddetails.html" class="col-4 btn btn-primary details-button">Info</a>
        <div class="col-5 btn rarity-button">Rarity</div>
        <a onclick="remove(this.parentNode);" class="col-3 btn btn-danger remove-button d-none">X</a>
    </div>
</div>